<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- link css files here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-light bg-secondary">
    <div class="container">
      <div class="row " style="width: 1100px;">
        <div class="col-6">
          <a class="navbar-brand" href="/" style="color:white;">
            <i class="fab fa-studiovinari" style="font-size: 1.8rem;"></i>
            家庭記帳本
          </a>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center d-inline-block">
          <a class="navbar-brand" href="/" style="text-center; text-decoration:none;">
            <button class="btn btn-secondary">
              <i class="fas fa-sign-out-alt" style="font-size: 1.5rem; color:white;"></i>
              返回
            </button>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{{ body }}}

  <!-- include javascript files here -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>