<h5 class="text-center mt-3">{{ message }}</h5>

<div class="d-flex justify-content-center mt-5">
  <div class="row" style="width: 800px;">
    <div class="col-6 ml-5 d-flex align-items-center justify-content-end">
      <h5 class="text-center mr-2 my-auto">這是一筆資料</h5>
    </div>
    <div class="col-5">
      <a href="/detail" style="text-decoration:none; margin-right: 10px;">
        <button class="btn btn-primary" type="submit">明細</button>
      </a>
      <a href="/new">
        <button class="btn btn-success" type="submit">新增</button>
      </a>
    </div>
  </div>
</div>